@font-face {
    font-family: 'Santana-Black';
    font-display: swap;
    src: local('Santana-Black'), url('/Santana-Black.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Santana-Black', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #0a3858;
    background: #ebebeb;
    padding: 2em;
    transition: min-height .5s ease-in-out;
}

body.has-touch-keyboard {
    min-height: 50vh;
}

form {
    margin: auto;
    font-size: 3.5vw;
    line-height: 2em;
}

h1 {
    font-size: 10vw;
    letter-spacing: .025em;
    margin-bottom: .15em;
    line-height: 1.1em;
}

span.small {
    display: inline-block;
    font-size: .75em;
    line-height: 1.1em;
}

label {
    display: block;
    margin-bottom: .5em;
}

input, button {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

input {
    width: 10em;
    background: white;
    border: .125em solid #0a3858;
    border-radius: 0;
}

::placeholder {
    color: #ebebeb;
}

button {
    color: #ebebeb;
    background: #0a3858;
    border: none;
    padding: 0 .75em;
}

@media (max-width: 25rem) {
    h1 {
        font-size: 15vw;
    }

    form {
        font-size: 5vw;
    }
}